
<div class="hall-page">
    <div class="choosen-showing-info">
      <h1 class="movie-title">{{ chosenMovieShowing.title }}</h1>
      <div class="movie-time-info">
        <span class="movie-detail">data: {{ chosenMovieShowing.date }}</span>
        <span class="movie-detail"
          >
          godz. {{ chosenMovieShowing.timeFrom }}
        </span>
         <span>sala nr: {{ chosenMovieShowing.screeningHalls[0].number }}</span>
      </div>
    </div>
  <br />
  <div class="screen">
    <h2>Ekran</h2>
  </div>
  <div class="seats-wrapper">
    <li *ngFor="let seat of seats " class="seat">
      <div>{{seat.column}}</div>
    </li>

  </div>
  <div class="choosen-seat-info">
    <span>Rząd:</span>
    <span>Miejsce:</span>
    <select [(ngModel)]="selectedTicket" class="ticket-type-wrapper">
      <option [value]="null" selected disabled>Wybierz bilet</option>
      <option
        *ngFor="let ticket of tickets"
        [(ngValue)]="ticket.name"
        class="ticket-type"
      >
        {{ ticket.name }}
        <fa-icon [icon]="arrowIcon" class="arrow-icon"></fa-icon>
      </option>
    </select>

    <span class="price">Cena: </span>
  </div>
  <div class="">
    <p>Wybrany bilet:{{ selectedTicket }}</p>
    <a [routerLink]="['/booking/reservation', chosenMovieShowing.id, chosenMovieShowing.title ]">Przejdź do zamówienia</a>
  </div>
 
</div>
