:host {
  margin: 0;
}

.hall-page {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
  background-color: #172032;
  color: #fff;
}

.seats-wrapper {
  display: grid;
  width: 80%;
  height: 60vh;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(17, 1fr);
}

.choosen-showing-info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.movie-title {
  width: 100%;
  text-align: center;
}

.movie-time-info {
  display: flex;
}

.movie-detail {
  border-right: 1px solid #fff;
  padding: 0 1rem;
}

span:last-child {
  border: 0;
}

.screen {
  text-align: center;
}

.choosen-seat-info {
  display: flex;
  justify-content: center;
  width: 40%;
}

.ticket-type-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ticket-type {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  cursor: pointer;
}

.arrow-icon {
  align-self:flex-end;
}
