<div class="header">
  <h1 (click)="navigateHome()">{{ cinemaName }}</h1>
  <nav>
    <button *ngIf="!userRole" class="login-btn">
      <a routerLink="login">Zaloguj</a>
    </button>
    <ng-container *ngIf="user$ | async as user">
      <ng-container *ngIf="user.role === 'user'; else admin">
        <app-button
          class="btn-icon"
          [text]="order$ | async"
          [icon]="shoppingCartIcon"
          (click)="navigateToPreviousPage($event)"
        ></app-button>
        <div class="dropdown">
          <app-button
            text="Cześć, {{ user.firstName }}!"
            (click)="toggleDropdown($event)"
          ></app-button>
          <app-dropdown-menu
            [isDropdownOpen]="isDropdownVisible"
            (buttonClick)="logout($event)"
            [dropdownOptions]="dropdownUserOptions"
          ></app-dropdown-menu>
        </div>
      </ng-container>
      <ng-template #admin>
        <div class="dropdown">
          <app-button
            text="Cześć, Admin!"
            (click)="toggleDropdown($event)"
          ></app-button>
          <app-dropdown-menu
            [isDropdownOpen]="isDropdownVisible"
            (buttonClick)="logout($event)"
            [dropdownOptions]="dropdownAdminOptions"
          ></app-dropdown-menu>
        </div>
      </ng-template>
    </ng-container>
  </nav>
</div>
