<div class="form-wrapper">
  <h2 class="title">Zaloguj się</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>E-mail</label>
      <input
        formControlName="email"
        type="email"
        placeholder="E-mail"
        appNoWhitespace
      />
      <ng-container *ngIf="email.errors as errors">
        <ng-container *ngIf="email.touched">
          <p *ngIf="errors?.['required']; else emailError">Podaj e-mail</p>
          <ng-template #emailError>
            <p *ngIf="loginForm.get('email').hasError('email')">
              Niewłaściwy format adresu email
            </p>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
    <div class="form-group">
      <label>Hasło</label>
      <div class="password-input">
        <input
          formControlName="password"
          [type]="fieldTextType ? 'text' : 'password'"
          placeholder="Hasło"
          appNoWhitespace
        />
        <span class="input-group-text">
          <fa-icon
            [icon]="eyeIcon"
            class="eye-icon"
            (click)="toggleFieldTextType()"
          ></fa-icon>
        </span>
      </div>
      <ng-container *ngIf="password.errors as errors">
        <ng-connatiner *ngIf="password.touched">
          <p *ngIf="errors?.['required']">Podaj hasło</p>
        </ng-connatiner>
      </ng-container>
    </div>
    <button class="submit-button" type="submit" text="Zaloguj">Zaloguj</button>
  </form>
</div>
