:host {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 400px;
  font-size: 1.1rem;
  background-color: #fff;
  padding: 0 0 1rem 0;
  box-shadow: rgb(0 0 0 / 50%) 5px 5px 5px 5px;
}

.title {
  width: 100%;
  background-color: #0c2d48;
  color: #fff;
  padding: 1rem 2rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.2rem 1.2rem 0.4rem;
}

.form-group {
  width: 100%;
  margin: 0 0 20px;
  font-size: 1.2rem;
}

input {
  width: 100%;
  height: 5vh;
  padding: 0.3rem;
  margin-top: 0.2rem;
  font-size: 1rem;
  border: 1px solid #808080;
}

button {
  cursor: pointer;
  padding: 0.6rem;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #0c2d48;
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  width: 100%;
  color: #ddd;
  background-color: #10395a;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 40px;
}

.password-input .input-group-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
