<p class="select-seat-info">Wybierz miejsce, aby dodać bilet</p>

<div class="choosen-seat-info">
  <ul class="chosen-tickets-list">
    <ng-container *ngFor="let chosenSeat of orderItems">
      <ng-container *ngIf="chosenSeat.showingId === chosenMovieShowing.id">
        <li class="chosen-seat">
          <span>Rząd: {{ chosenSeat.seat.row }}</span>
          <span>Miejsce: {{ chosenSeat.seat.column }}</span>

          <mat-form-field appearance="fill">
            <mat-label>Wybierz bilet</mat-label>
            <mat-select
              [formControl]="selected"
              class="ticket-type-wrapper"
              (selectionChange)="selectTicket(chosenSeat, $event.value)"
            >
              <mat-option
                *ngFor="let ticket of tickets$ | async"
                [value]="ticket"
                class="ticket-type"
              >
                {{ ticket.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="selected.invalid"
              >Musisz dokonać wyboru</mat-error
            >
          </mat-form-field>

          <span class="price" *ngIf="chosenSeat.ticket"
            >Cena: {{ chosenSeat.ticket.price }}zł
          </span>
          <button
            (click)="deleteChosenTicket(chosenSeat)"
            type="button"
            class="delete-ticket-button"
          >
            <fa-icon [icon]="trashIcon" class="trash"></fa-icon>
          </button>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</div>
