<div class="side-panel">
  <div class="rating">{{ movie.rating }}</div>
  <ng-container *ngIf="isLoggedInUser">
    <ng-container *ngIf="watchlistWithMovies$ | async as watchlistWithMovies">
      <app-button text="Oceń ten film!" class="rate-button"></app-button>
      <app-button
        (click)="toggleWatchlist(movie, watchlistWithMovies)"
        text="Chcę obejrzeć"
        [icon]="eyeIcon"
        [ngClass]="{
          'on-watchlist': checkIfMovieIsOnWatchlist(movie, watchlistWithMovies)
        }"
      ></app-button>
    </ng-container>
  </ng-container>
</div>
