<main>
  <h1>Lista filmów, które chcę obejrzeć</h1>
  <ng-container *ngIf="watchlistWithMovies$ | async as watchlistWithMovies">
    <ul class="movie-list">
      <li
        *ngFor="let movies of watchlistWithMovies.movies"
        class="movie-wrapper"
      >
        {{ movies | json }}
        <!-- 
        <div class="movie-poster">
          <img src="{{ movie.image }}" />
        </div>
        <div class="movie-details">
          <div class="title-rating-wrapper">
            <h2 class="movie-title">{{ movie.title }}</h2>
            <p class="rating">{{ movie.rating }}</p>
          </div>
          <h4>{{ movie.genres }}</h4> -->

        <!-- <h4>{{ movie.shortDescription }}</h4> -->
        <!-- <button>Nie chce ogladac</button> -->
        <!-- </div> -->
      </li>
    </ul>
  </ng-container>
</main>
