<main>
  <h1>Lista filmów, które chcę obejrzeć</h1>
  <ng-container *ngIf="watchlistWithMovies$ | async as watchlistWithMovies">
    <ul class="movie-list">
      <li
        *ngFor="let movie of watchlistWithMovies.movies"
        class="movie-wrapper"
      >
        <div class="movie-poster">
          <img src="{{ movie.image }}" />
        </div>
        <div class="movie-details">
          <div class="title-rating-wrapper">
            <h2 class="movie-title">{{ movie.title }}</h2>
            <p class="rating">{{ displayOverallRating(movie.id) | async }}</p>
          </div>
          <h4>{{ movie.genres }}</h4>

          <p class="movie-description">{{ movie.shortDescription }}</p>
          <app-button
            (click)="
              removeMovieFromWatchList(movie, watchlistWithMovies.watchlist)
            "
            text="Chcę obejrzeć "
            [icon]="eyeIcon"
            class="on-watchlist"
          ></app-button>
        </div>
      </li>
    </ul>
  </ng-container>
</main>
