<main *ngIf="!loading; else loadingTmpl">
  <ul class="week-list">
    <li *ngFor="let date of dates" class="week-day">
    <button
      (click)="chooseDate(date)"
      class="current-day-btn"
    >
      {{ date.format("DD/MM") }}
    </button>
  </li>
  </ul>

  <ul class="movie-wrapper">
    <li *ngFor="let movie of allMovies | async" class="movie">
      <div class="movie-poster">
        <img src="{{ movie.imageUrl }}" />
      </div>
      <div class="movie-information">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <div class="movie-details">
          <div class="movie-detail">{{ movie.genres }}</div>
          <div class="movie-detail vertical">{{ movie.duration }}</div>
          <div class="movie-detail vertical">{{ movie.ageRating }}</div>
        </div>
        <div class="description-wrapper">
          <p class="movie-description">
            {{ movie.description | slice: 0:100 }}
            <span *ngIf="isDescriptionExpanded(movie.id)">{{
              movie.description
            }}</span>
          </p>
          <div class="btn-wrapper">
            <button (click)="toggleOpen(movie.id)" class="more-button">
              Więcej
            </button>
          </div>
        </div>
        <ul class="hours">
          <li *ngFor="let showing of movie.showings" class="hour-item" >
            <a routerLink="hall">
            <button (click)="onMovieTimeClick(showing, movie)" class="hour-btn"> 
            {{ showing.time.hour }}:{{ showing.time.minute === 0? showing.time.minute + '0' : showing.time.minute }}
          </button>
        </a>
          </li>
        </ul>
      </div>
      <div class="rating">{{ movie.rating }}</div>
    </li>
  </ul>
</main>
<ng-template #loadingTmpl> Loading... </ng-template>
