:host {
  width: 100%;
  height: auto;
}

.mat-elevation-z8 {
  height: 70vh;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  width: 100%;
  padding: 20px;
}

mat-paginator {
  width: 100%;
  padding: 20px 0;
}

h1 {
  margin: 20px 0 0 0;
  text-align: center;

  font-size: 36px;
}
