<app-header></app-header>

<div class="hall-page">
  <div class="choosen-showing-info">
    <h2>Zakup biletu</h2>
    <h1 class="movie-title">{{ chosenMovieShowing.title }}</h1>
    <div class="movie-time-info">
      <span>data: {{ chosenMovieShowing.date }}</span>
      <span>godz. {{ chosenMovieShowing.time.hour }}:{{chosenMovieShowing.time.minute}}</span>
      <span>sala nr: {{chosenMovieShowing.hall.number}}</span>
    </div>
  </div>
  <br />
  <div class="screen">
    <h2>Ekran</h2>
  </div>
  <div class="seats-wrapper"></div>
</div>
<app-footer></app-footer>
