<div class="summary-wrapper">
  <h1>Dziękujemy za zamówienie</h1>
  <ng-container *ngIf="userEmail$ | async as userEmail">
    <h3>Twoje bilety zostały wysłane na adres email: {{ userEmail }}</h3>
  </ng-container>

  <qrcode
    elementType="svg"
    (qrCodeURL)="onChangeUrl($event)"
    [qrdata]="orderQrCode"
    [width]="256"
    [errorCorrectionLevel]="'M'"
    class="qr-code"
  ></qrcode>

  <div class="download-wrapper">
    <a [href]="qrCodeDownloadLink" download="qrcode" class="download-link">
      <mat-icon>keyboard_arrow_down</mat-icon>Pobierz QR kod z biletami</a
    >
  </div>
  <ng-container *ngIf="user$ | async as user; else guest">
    {{ user.name }}
    <p>
      Zamówienie możesz rowniez podejrzec w zakładce
      <a routerLink="/user/orders">'Moje bilety'</a>
    </p>
  </ng-container>
  <ng-template #guest>
    <p>Link do Twoich biletów:</p>
    <ng-container *ngIf="order$ | async as order">
      <a routerLink="/booking/orders/{{ order.id }}">Link</a>
    </ng-container>
  </ng-template>
</div>

<a routerLink="/home" class="back-link"> Wróć na stronę główną</a>
