<ng-container *ngIf="vm$ | async as vm">
  <div class="booking-form-wrapper">
    <app-chosen-showing-info
      [chosenShowing]="vm.v1"
      [seatTickets]="vm.v2"
      [sumOfTickets]="vm.v3"
    ></app-chosen-showing-info>
    <app-booking-form
      [vm]="vm"
      (submitBookingForm)="submitForm($event)"
    ></app-booking-form>
  </div>
  <app-button
    mat-raised-button
    [icon]="arrowIcon"
    (click)="navigateToHall(vm.v1)"
    class="back-btn"
    text="Wróć do wyboru miejsc"
  >
  </app-button>
</ng-container>
