<ng-container
  *ngIf="chosenShowing$ | async as chosenMovieShowing"
  class="hall-page"
>
  <div class="choosen-showing-info">
    <h1 class="movie-title">{{ chosenMovieShowing.movie.title }}</h1>
    <div class="movie-time-info">
      <span class="movie-detail">data: {{ chosenMovieShowing.date }}</span>
      <span class="movie-detail">
        godz. {{ chosenMovieShowing.timeFrom }}
      </span>
      <span>sala nr: {{ chosenMovieShowing.hall.number }}</span>
    </div>
  </div>
  <br />
  <div class="screen">
    <h2>Ekran</h2>
  </div>
  <div class="seats-wrapper">
    <ng-container *ngIf="rows$ | async as rows">
      <li *ngFor="let row of rows | keyvalue" class="row">
        <span>{{ row.key }}</span>
        <button
          *ngFor="let column of row.value | keyvalue"
          [disabled]="checkIfSeatIsAvailable(column.value)"
          (click)="clickChosenSeat(column.value)"
          [ngClass]="checkIfSeatIsChosen(column.value) ? 'selected' : ''"
          class="seat"
        ></button>
      </li>
    </ng-container>
  </div>
  <p class="select-seat-info">Wybierz miejsce, aby dodać bilet</p>

  <div class="choosen-seat-info">
    <ul class="chosen-tickets-list">
      <li *ngFor="let chosenSeat of chosenSeatsAndTickets" class="chosen-seat">
        <span>Rząd: {{ chosenSeat.seat.row }}</span>
        <span>Miejsce: {{ chosenSeat.seat.column }}</span>
        <ng-container>
          <select
            [(ngModel)]="selectedTicket"
            (ngModelChange)="selectedTicket = selectTicket(chosenSeat)"
            class="ticket-type-wrapper"
          >
            <option disabled [ngValue]="null">Wybierz bilet</option>
            <option
              *ngFor="let ticket of tickets$ | async; let i = index"
              [ngValue]="ticket"
              class="ticket-type"
            >
              {{ ticket.name }}
              <fa-icon [icon]="arrowIcon" class="arrow-icon"></fa-icon>
            </option>
          </select>
        </ng-container>
        <span class="price">Cena: {{ chosenSeat.ticket?.price }}zł </span>
        <button
          (click)="deleteChosenTicket(chosenSeat)"
          type="button"
          class="delete-ticket-button"
        >
          <fa-icon [icon]="trashIcon" class="trash"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="redirection-to-form">
    <a
      [routerLink]="[
        '/booking/reservation',
        chosenMovieShowing.id,
        chosenMovieShowing.movie.title
      ]"
      (click)="saveChosenSeatsAndTicketsInLocalStorage(chosenSeatsAndTickets)"
      >Przejdź do zamówienia</a
    >
  </div>
</ng-container>
