:host {
  margin: 0;
  padding: 2rem 0;
}

.hall-page {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
  background-color: #172032;
  color: #fff;
}

.seats-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.choosen-showing-info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.movie-title {
  width: 100%;
  text-align: center;
}

.movie-time-info {
  display: flex;
}

.movie-detail {
  border-right: 1px solid #fff;
  padding: 0 1rem;
}

span:last-child {
  border: 0;
  padding: 0 1rem;
}

.screen {
  text-align: center;
}

.choosen-seat-info {
  display: flex;
  justify-content: center;
  width: 40%;
}

.ticket-type-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ticket-type {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  cursor: pointer;
}

.arrow-icon {
  align-self: flex-end;
}

.seat {
  padding: 1.4rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.2rem;
}

.chosen-tickets-list {
  width: 100%;
  font-size: 1.2rem;
}

.chosen-seat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.selected {
  background-color: green;
}

.delete-ticket-button {
  padding: 0 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.select-seat-info {
  text-align: center;

  font-size: clamp(1rem, 1.2rem, 2rem);
  margin: 2rem 0;
}

.redirection-to-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
}

a {
  color: #ddd;
}
