<ng-container
  *ngIf="chosenShowing$ | async as chosenMovieShowing"
  class="hall-page"
>
  <div class="choosen-showing-info">
    <h1 class="movie-title">{{ chosenMovieShowing.movie.title }}</h1>
    <div class="movie-time-info">
      <span class="movie-detail">data: {{ chosenMovieShowing.date }}</span>
      <span class="movie-detail">
        godz. {{ chosenMovieShowing.timeFrom }}
      </span>
      <span>sala nr: {{ chosenMovieShowing.hall.number }}</span>
    </div>
  </div>
  <br />
  <ng-container *ngIf="order$ | async as order">
    <ng-container *ngIf="occupiedSeatIds$ | async as occupiedSeatIds">
      <div class="seats-wrapper">
        <div class="screen"></div>
        <ng-container *ngIf="rows$ | async as rows">
          <li *ngFor="let row of rows | keyvalue" class="row">
            <span>{{ row.key }}</span>
            <ng-container *ngFor="let column of row.value | keyvalue">
              <button
                (click)="
                  clickChosenSeat(
                    column.value,
                    chosenMovieShowing.id,
                    order.orderItems
                  )
                "
                [ngClass]="checkIfSeatIsChosen(column.value) ? 'selected' : ''"
                [ngDisabled]="clickCount > maxClickCount"
                class="seat"
                [disabled]="occupiedSeatIds.includes(column.value.id)"
              ></button>
            </ng-container>
          </li>
        </ng-container>
      </div>
    </ng-container>
    <p *ngIf="clickCount > maxClickCount">
      Możesz wybrać maksymalnie 10 biletów.
    </p>
    <app-selected-seats-tickets
      [order$]="order$"
      [chosenMovieShowing]="chosenMovieShowing"
      [tickets$]="tickets$"
      (btnClick)="deleteChosenTicket($event)"
    ></app-selected-seats-tickets>

    <div class="redirection-to-form">
      <a
        *ngIf="order && order.orderItems.length > 0"
        [routerLink]="[
          '/booking/reservation',
          chosenMovieShowing.id,
          chosenMovieShowing.movie.title
        ]"
      >
        Przejdź do zamówienia
      </a>
    </div>
  </ng-container>
</ng-container>
