<footer>
  <div class="menu">
    <div class="social-icons">
      <!-- <a href="#" class="fa fa-facebook"></a> -->
      <div> 
      <i class="fa-thin fa-house"></i>
    </div>
      <a href="#" class="fa fa-in"></a>
    </div>
    <div class="bottom-menu">
      <ul>
        <li><a href="#"> O nas </a></li>
        <li><a href="#"> Praca </a></li>
        <li><a href="#"> Regulamin </a></li>
        <li><a href="#"> Wynajem sal </a></li>
      </ul>
    </div>
  </div>
 <h3 class="copyright">Ale kino! 2022</h3>
</footer>
