<div class="side-panel">
  <ng-container
    *ngIf="getOveralRating(movie.id) | async as overalRating; else noRating"
  >
    <div class="rating">{{ overalRating }}/10</div>
  </ng-container>
  <ng-template #noRating>
    <div class="rating">0/10</div>
  </ng-template>
  <ng-container *ngIf="isLoggedInUser">
    <ng-container
      *ngIf="getUserRating(movie.id) | async as userRating; else myRating"
    >
      <ng-container *ngIf="userRating">
        <ul class="rating-star-list">
          <li
            *ngFor="let star of stars; index as i"
            [class.selected]="i < userRating"
          >
            <fa-icon [icon]="starIcon"></fa-icon>
          </li>
        </ul>
        <p class="user-rating">Twoja ocena: {{ userRating }}</p>
      </ng-container>
    </ng-container>

    <ng-template #myRating>
      <app-button
        text="Oceń ten film!"
        class="rate-button"
        (click)="showRating = !showRating"
      ></app-button>
    </ng-template>

    <ng-container *ngIf="showRating">
      <ul class="rating-star-list-to-rate">
        <li
          *ngFor="let star of stars; index as i"
          (click)="setRating(movie.id, i + 1)"
        >
          <fa-icon [icon]="starIcon"></fa-icon>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="watchlistWithMovies$ | async as watchlistWithMovies">
      <app-button
        (click)="toggleWatchlist(movie, watchlistWithMovies)"
        [text]="
          checkIfMovieIsOnWatchlist(movie, watchlistWithMovies)
            ? 'Nie chcę obejrzeć'
            : 'Chcę obejrzeć'
        "
        class="on-watchlist"
        [icon]="eyeIcon"
      ></app-button>
    </ng-container>
  </ng-container>
</div>
