<ng-container *ngIf="order$ | async as order">
  <div
    class="payment-wrapper"
    *ngIf="chosenMovieShowing$ | async as chosenShowing"
  >
    <div class="heading-wrapper">
      <h2>Płacę z</h2>
      <img src="../../../../assets/blik.png" />
    </div>
    <ng-container
      *ngIf="discountedPrice$ | async as discountedPrice; else noDiscount"
    >
      <p class="sum">Kwota po zastosowaniu zniżki: {{ discountedPrice }} zł</p>
    </ng-container>
    <ng-template #noDiscount>
      <ng-container *ngIf="regularPrice$ | async as regularPrice">
        <p class="sum">Kwota: {{ regularPrice }} zł</p>
      </ng-container>
    </ng-template>
    <div class="input-wrapper">
      <label>Kod blik</label>
      <input type="text" pattern="[0-9]*" appNumbersOnly maxlength="6" />
    </div>

    <div class="btn-wrapper">
      <app-button
        class="cancel"
        text="Anuluj"
        type="button"
        (click)="cancelPayment(chosenShowing)"
      >
      </app-button>
      <app-button
        class="approve"
        text="Wykonaj"
        type="button"
        (click)="approvePayment(chosenShowing, order.id)"
        >Wykonaj</app-button
      >
    </div>

    <div>
      <a
        [routerLink]="[
          '/booking/reservation',
          chosenShowing.id,
          chosenShowing.movie.title
        ]"
      >
        Wróć do formularza
      </a>
    </div>
  </div>
</ng-container>
