<h2 mat-dialog-title>Dodaj film</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="movieForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" floatLabel="always" required>
      <mat-label>Tytuł</mat-label>
      <input matInput formControlName="title" />
      <mat-error>{{ errors.title }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Krótki opis</mat-label>
      <input matInput formControlName="shortDescription" />
      <mat-error>{{ errors.shortDescription }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Długi opis</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="3"
        formControlName="longDescription"
      ></textarea>
      <mat-error>{{ errors.longDescription }}</mat-error>
    </mat-form-field>

    <ng-container *ngIf="ageRestrictions$ | async as ageRestrictions">
      {{ ageResctrictions | json }}
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="age-restrictions"
      >
        <mat-label>Ograniczenia wiekowe </mat-label>
        <span matTextSuffix class="plus">+</span>

        <mat-select
          formControlName="ageRestrictions"
          (selectionChange)="onAgeRestrictionsChange($event)"
        >
          <mat-option
            *ngFor="let ageRestriction of ageRestrictions"
            [value]="ageRestriction.restriction"
            class="option"
          >
            {{ ageRestriction.restriction }}
          </mat-option>
        </mat-select>
        <span matTextSuffix class="age">lat</span>
      </mat-form-field>
    </ng-container>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Czas trwania</mat-label>
      <span matTextSuffix>min</span>
      <input
        matInput
        formControlName="duration"
        appNumbersOnly
        minlength="2"
        maxlength="3"
      />
      <mat-error>{{ errors.duration }}</mat-error>
    </mat-form-field>

    <ng-container *ngIf="movieGenres$ | async as movieGenres">
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="genre-field"
      >
        <mat-label>Gatunek filmowy</mat-label>
        <mat-select
          (selectionChange)="onSelectionChange($event)"
          formControlName="genres"
          multiple
        >
          <mat-option
            *ngFor="let movieGenre of movieGenres"
            [value]="movieGenre.genre"
            class="option"
          >
            {{ movieGenre.genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <div class="premiere-wrapper">
      <mat-label class="premiere-label">Premiera</mat-label>
      <mat-radio-group formControlName="isPremiere">
        <mat-radio-button [value]="true">Tak</mat-radio-button>
        <mat-radio-button [value]="false">Nie</mat-radio-button>
      </mat-radio-group>
      <mat-error>{{ errors.isPremiere }}</mat-error>
    </div>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Link do plakatu</mat-label>
      <input
        matInput
        formControlName="image"
        appNoWhitespace
        [pattern]="URL_PATTERN"
      />
      <mat-error>{{ errors.image }}</mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="primary">Anuluj</button>
      <button
        mat-raised-button
        type="submit"
        [mat-dialog-close]="true"
        [disabled]="movieForm.invalid"
        color="primary"
      >
        Zapisz
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
