<h2 mat-dialog-title>Dodaj film</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="movieForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" floatLabel="always" required>
      <mat-label>Tytuł</mat-label>
      <input matInput formControlName="title" />
      <mat-error>{{ errors.title }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Krótki opis</mat-label>
      <input matInput formControlName="shortDescription" />
      <mat-error>{{ errors.shortDescription }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Długi opis</mat-label>
      <input matInput formControlName="longDescription" />
      <mat-error>{{ errors.longDescription }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Ograniczenie wiekowe</mat-label>
      <span matTextPrefix>+</span>
      <input
        matInput
        appNumbersOnly
        formControlName="ageRestrictions"
        minlength="1"
        maxlength="2"
      />
      <mat-error>{{ errors.ageRestrictions }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Czas trwania</mat-label>
      <span matTextSuffix>min</span>
      <input
        matInput
        formControlName="duration"
        appNumbersOnly
        minlength="2"
        maxlength="3"
      />
      <mat-error>{{ errors.duration }}</mat-error>
    </mat-form-field>

    <div formArrayName="genres" class="genres-wrapper">
      <mat-label class="genre-label">Gatunki filmowe</mat-label>
      <div
        *ngFor="let genre of genres.controls; let i = index"
        class="genre-container"
      >
        {{ i.value }}
        <mat-form-field
          class="genre-field"
          appearance="outline"
          floatLabel="always"
        >
          <input
            matInput
            value="{{ formControlName }}"
            [formControlName]="i"
            class="genre-input"
          />
          <mat-error>{{ errors?.genres }}</mat-error>
        </mat-form-field>
        <button mat-icon-button (click)="removeGenre(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button
        mat-raised-button
        type="button"
        (click)="addGenre()"
        class="add-genre-btn"
      >
        <mat-icon>add</mat-icon> Dodaj gatunek
      </button>
    </div>

    <div class="premiere-wrapper">
      <mat-label class="premiere-label">Premiera</mat-label>
      <mat-radio-group formControlName="isPremiere">
        <mat-radio-button [value]="true">Tak</mat-radio-button>
        <mat-radio-button [value]="false">Nie</mat-radio-button>
      </mat-radio-group>
      <mat-error>{{ errors.isPremiere }}</mat-error>
    </div>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Link do plakatu</mat-label>
      <input matInput formControlName="image" appNoWhitespace />
      <mat-error>{{ errors.image }}</mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="primary">Anuluj</button>
      <button
        mat-raised-button
        type="submit"
        [mat-dialog-close]="true"
        [disabled]="movieForm.invalid"
        color="primary"
      >
        Zapisz
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
