<footer>
  <div class="menu">
    <div class="social-icons">
      <mat-icon>facebook</mat-icon>
      <mat-icon fontIcon="igIcon">igIcon</mat-icon>

      <!-- <mat-icon fontIcon="youtube">youtube</mat-icon>
      
      <fa-icon [icon]="youtubeIcon" class="social-icon"></fa-icon> -->
    </div>
    <div class="bottom-menu">
      <ul>
        <li><a href="#"> O nas </a></li>
        <li><a href="#"> Praca </a></li>
        <li><a href="#"> Regulamin </a></li>
        <li><a href="#"> Wynajem sal </a></li>
      </ul>
    </div>
  </div>
  <h3 class="copyright">Ale kino! 2022</h3>
</footer>
