<ng-container *ngIf="userOrder$ | async as userOrder">
  <ng-container *ngFor="let order of userOrder">
    <ng-container *ngFor="let ticket of order.seatTickets" class="ticket-info">
      <div class="cardWrap">
        <div class="card cardLeft">
          <h1>Ale kino!</h1>
          <div class="title">
            <h2>{{ order.showingWithMovie.movie.title }}</h2>
            <span>film</span>
          </div>
          <div class="name">
            <h2>{{ order.showingWithMovie.hallId }}</h2>
            <span>sala nr</span>
          </div>
          <div class="seat">
            <h2>{{ ticket.seat.row }}</h2>
            <span>Rząd</span>
          </div>
          <div class="time">
            <h2>{{ order.showingWithMovie.timeFrom }}</h2>
            <span>Godzina</span>
          </div>
        </div>
        <div class="card cardRight">
          <!-- <div class="eye"></div> -->
          <div class="eye-wrapper">
            <mat-icon>remove_red_eye</mat-icon>
          </div>
          <div class="number">
            <h3>{{ ticket.seat.column }}</h3>
            <span>Miejsce</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
