<ng-container *ngIf="userOrder$ | async as userOrder">
  <ng-container *ngFor="let order of userOrder">
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>{{
          order.showingWithMovie.movie.title
        }}</mat-card-title>
        <mat-card-subtitle>
          <span>data: {{ order.showingWithMovie.date }}</span>
          <span>godz. {{ order.showingWithMovie.timeFrom }}</span>
          <span>sala nr: {{ order.showingWithMovie.hallId }}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <li *ngFor="let ticket of order.seatTickets" class="ticket-info">
          <span>Rząd: {{ ticket.seat.row }} </span>
          <span>Miejsce: {{ ticket.seat.column }}</span>
          <span>Cena: {{ ticket.ticket.price }} zł</span>
        </li>
      </mat-card-content>
      <!-- <p class="tickets-sum">Razem: {{ sumOfTickets }} zł</p> -->
    </mat-card>
  </ng-container>
</ng-container>
