<main>
  <app-date-picker
    [dates]="dates"
    (dateClick)="handleDateSelection($event)"
  ></app-date-picker>

  <ul class="movie-wrapper">
    <li *ngFor="let movie of allMovieShowings$ | async" class="movie">
      <div class="movie-poster">
        <img src="{{ movie.image }}" />
        <ng-container *ngIf="movie.isPremiere === true">
          <div class="ribbon-2">Premiera</div>
        </ng-container>
      </div>

      <div class="movie-information">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <div class="movie-details">
          <div class="movie-detail">{{ movie.genres.join(', ') }}</div>
          <div class="movie-detail vertical">{{ movie.duration }}</div>
          <div class="movie-detail vertical">{{ movie.ageRestrictions }}+</div>
        </div>
        <div class="description-wrapper">
          <div class="short-description">
            {{ movie.shortDescription }}
          </div>
          <div *ngIf="isDescriptionExpanded(movie.id)" class="long-description">
            {{ movie.longDescription }}
          </div>
        </div>
        <div class="btn-wrapper">
          <button (click)="toggleOpen(movie.id)" class="more-button">
            {{ isDescriptionExpanded(movie.id) ? 'Mniej' : 'Więcej' }}
          </button>
        </div>
        <ul class="hours">
          <li *ngFor="let showing of movie.showings" class="hour-item">
            <button
              (click)="onMovieTimeClick(showing.id, movie)"
              class="hour-btn"
            >
              {{ showing.timeFrom }}
            </button>
          </li>
        </ul>
      </div>
      <app-manage-movie-panel [movie]="movie"></app-manage-movie-panel>
    </li>
  </ul>
</main>
